<h1>Profile details</h1>

<section class="profile-block margin20 flex-container flex-container_row flex-container_vc">
    <div class="profile-block__avatar avatar">
        <div class="avatar__wrapper">
            <img src="images/64.jpg" alt="">
        </div>
    </div>
    <div class="profile-block__user-info user-info">
        <h3 class="user-info__title fw-bold">Jhon Smith</h3>
        <p class="user-info__description">UI developer (crafting Team)</p>
    </div>
</section>

<form action="" class="form margin20" id="profile-form">
    <div class="flex-container flex-container_row flex-container_wrap">
        <label for="fname" class="form__label">
            <p class="form__label__title">First name</p>
            <input type="text" name="fname" id="fname" class="form__label__input" required>
        </label>
        <label for="lname" class="form__label">
            <p class="form__label__title">Last name</p>
            <input type="text" name="lname" id="lname" class="form__label__input" required>
        </label>
        <label for="cname" class="form__label">
            <p class="form__label__title">Company name</p>
            <input type="text" name="cname" id="cname" class="form__label__input" required>
        </label>
        <label for="jobtitle" class="form__label">
            <p class="form__label__title">Job title</p>
            <input type="text" name="jobtitle" id="jobtitle" class="form__label__input" required>
        </label>
        <label for="location" class="form__label">
            <p class="form__label__title">Location</p>
            <input type="text" name="location" id="location" class="form__label__input" required>
        </label>
        <label for="pnumber" class="form__label">
            <p class="form__label__title">Phone number</p>
            <input type="text" name="pnumber" id="pnumber" class="form__label__input" required>
        </label>
    </div>
    <div class="form__buttons margin20">
        <button class="btn">Save changes</button><!--
     --><button class="btn btn_pseudo">Cancel</button>
    </div>
</form>

<div class="section">
    <form action="" class="form margin20">
        <h2>Workspace settings</h2>
        <div class="flex-container flex-container_row flex-container_wrap margin20">
            <label for="tzone" class="form__label">
                <p class="form__label__title">Time zone</p>
                <select name="" id="tzone" class="form__label__select select2"></select>
            </label>
            <label for="language" class="form__label">
                <p class="form__label__title">Language</p>
                <select name="" id="language" class="form__label__select select2"></select>
            </label>
            <label for="newtask" class="form__label">
                <p class="form__label__title">New task created by default as</p>
                <select name="" id="newtask" class="form__label__select select2">
                    <option value="Backlogged">Backlogged</option>
                    <option value="Starting today">Starting today</option>
                </select>
            </label>
        </div>
        <div class="form__buttons margin20">
            <div class="form__buttons__description flex-container flex-container_column">
                <label for="popup" class="form__label">
                    <input type="checkbox" name="popup" id="popup">
                    <span class="custom-checkbox"></span>
                    <p class="form__label__title">Show pop-up with suggestion to align the dates of tasks and subtasks.</p>
                </label>
                <a href="#">How does subtask alignment work?</a>
            </div>
            <button class="btn" disabled>Save settings</button>
        </div>
    </form>
</div>