<!DOCTYPE html>
<html>
<head lang="ru">
    <title>Wrike Оловянников</title>
    @@include('links.html')
</head>
<body>
<main class="root-wrapper flex-container flex-container_column">
    <header class="header flex-container flex-container_row flex-container_vc flex-container_jcsb">
        <div class="header__logo">
            <a href="/">
                <svg class="header__wrike-logo">
                    <use xlink:href="images/svg/sprite.svg#logo__legacy_icon"></use>
                </svg>
            </a>
        </div>
        <div class="header__profile flex-container flex-container_row">
            <div class="header__profile__avatar avatar">
                <div class="avatar__wrapper">
                    <img src="images/64.jpg" alt="">
                </div>
            </div>
            <div class="header__profile__user-info user-info">
                <h3 class="user-info__title">Jhon</h3>
                <p class="user-info__description">Wrike Team</p>
                <article class="dropdown-menu">
                    <header class="dropdown-menu__header">Wrike Team</header>
                    <nav class="dropdown-menu__items menu-items flex-container flex-container_column">
                        <a href="#" class="menu-items__item">Profile Settings</a>
                        <a href="#" class="menu-items__item">Team directory</a>
                        <a href="#" class="menu-items__item">Apps & Integrations</a>
                        <a href="#" class="menu-items__item">Mobile apps</a>
                        <a href="#" class="menu-items__item">Help</a>
                    </nav>
                    <footer class="dropdown-menu__footer menu-items">
                        <a href="#" class="menu-items__item">Log Out</a>
                    </footer>
                </article>
            </div>
        </div>
    </header>