<!DOCTYPE html>
<html>
<head lang="ru">
    <title>Wrike Оловянников</title>
    @@include('links.html')
</head>
<body>
<main class="root-wrapper flex-container flex-container_column">
    <header class="header flex-container flex-container_row flex-container_vc flex-container_jcsb">
        <div class="header__logo">
            <a href="/">
                <svg class="header__wrike-logo">
                    <use xlink:href="images/svg/sprite.svg#logo__legacy_icon"></use>
                </svg>
            </a>
        </div>
        <div class="header__profile flex-container flex-container_row">
            <div class="header__profile__avatar avatar">
                <div class="avatar__wrapper">
                    <img src="images/64.jpg" alt="">
                </div>
            </div>
            <div class="header__profile__user-info user-info">
                <h3 class="user-info__title">Jhon</h3>
                <small class="user-info__description">Wrike Team</small>
                <article class="dropdown-menu">
                    <header class="dropdown-menu__header">Wrike Team</header>
                    <nav class="dropdown-menu__items menu-items flex-container flex-container_column">
                        <a href="#" class="menu-items__item">Profile Settings</a>
                        <a href="#" class="menu-items__item">Team directory</a>
                        <a href="#" class="menu-items__item">Apps & Integrations</a>
                        <a href="#" class="menu-items__item">Mobile apps</a>
                        <a href="#" class="menu-items__item">Help</a>
                    </nav>
                    <footer class="dropdown-menu__footer menu-items">
                        <a href="#" class="menu-items__item">Log Out</a>
                    </footer>
                </article>
            </div>
            <div class="header__profile__icon">
                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>UI/16/arrows/down-semibold_icon</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <polygon id="path-1" points="8 8.5 11 5.5 12 6.5 8 10.5 4 6.5 5 5.5"></polygon>
                    </defs>
                    <g id="UI/16/arrows/down-semibold" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="arrow_down" fill-rule="nonzero"></g>
                        <g id="colors/MAIN/black" mask="url(#mask-2)" fill="#000000" fill-opacity="0.9" opacity="0.900000036">
                            <rect id="color" x="0" y="0" width="16" height="16" rx="2"></rect>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </header>