<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Wrike Оловянников</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="js/svgxuse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
<main class="root-wrapper flex-container flex-container_column">
    <header class="header flex-container flex-container_row flex-container_vc flex-container_jcsb">
        <div class="header__logo">
            <a href="/">
                <svg class="header__wrike-logo">
                    <use xlink:href="images/svg/sprite.svg#logo__legacy_icon"></use>
                </svg>
            </a>
        </div>
        <div class="header__profile flex-container flex-container_row">
            <div class="header__profile__avatar avatar">
                <div class="avatar__wrapper">
                    <img src="images/64.jpg" alt="">
                </div>
            </div>
            <div class="header__profile__user-info user-info">
                <h3 class="user-info__title">Jhon</h3>
                <p class="user-info__description">Wrike Team</p>
                <nav class="dropdown-menu">
                    <header class="dropdown-menu__header">Wrike Team</header>
                    <section class="dropdown-menu__items menu-items flex-container flex-container_column">
                        <a href="#" class="menu-items__item">Profile Settings</a>
                        <a href="#" class="menu-items__item">Team directory</a>
                        <a href="#" class="menu-items__item">Apps & Integrations</a>
                        <a href="#" class="menu-items__item">Mobile apps</a>
                        <a href="#" class="menu-items__item">Help</a>
                    </section>
                    <footer class="dropdown-menu__footer menu-items">
                        <a href="#" class="menu-items__item">Log Out</a>
                    </footer>
                </nav>
            </div>
        </div>
    </header>