<nav class="left-menu">
    <section class="left-menu__wrapper">
        <div class="left-menu__wrapper__title">
            <span class="menu-icon">
                <img src="../images/user-small_icon.svg" alt="">
            </span>
            Personal Settings
        </div>
        <div class="block-links">
            <a href="#" class="block-links__item">Profile details</a>
            <a href="#" class="block-links__item">Account info</a>
            <a href="#" class="block-links__item">Email preferences</a>
            <a href="#" class="block-links__item">Work schedule</a>
            <a href="#" class="block-links__item">Password & security</a>
            <a href="#" class="block-links__item">Apps access</a>
        </div>
    </section>
    <div class="left-menu__separator"></div>
    <section class="left-menu__wrapper">
        <div class="left-menu__wrapper__title">
            <span class="menu-icon">
                <img src="../images/settigns-gearwheel_icon.svg" alt=""> 
            </span>
            ACCOUNT MANAGMENT
        </div>
        <div class="block-links">
            <a href="#" class="block-links__item">Subscription</a>
            <a href="#" class="block-links__item">Billing</a>
            <a href="#" class="block-links__item">Users & groups</a>
            <a href="#" class="block-links__item">Request form builder</a>
            <a href="#" class="block-links__item">Custom workflows</a>
            <a href="#" class="block-links__item">Activity reports</a>
            <a href="#" class="block-links__item">Calendars</a>
            <a href="#" class="block-links__item">Account settings</a>
            <a href="#" class="block-links__item">Advanced security</a>
        </div>
    </section>
</nav>