<aside class="left-menu">
    <section class="left-menu__wrapper">
        <div class="left-menu__wrapper__title">
            <span class="menu-icon">
                <img src="images/svg/user-small_icon.svg" alt="">
            </span>
            Personal Settings
        </div>
        <nav class="block-links flex-container flex-container_column">
            <a href="#" class="block-links__item fsz12">Profile details</a>
            <a href="#" class="block-links__item fsz12">Account info</a>
            <a href="#" class="block-links__item fsz12">Email preferences</a>
            <a href="#" class="block-links__item fsz12">Work schedule</a>
            <a href="#" class="block-links__item fsz12">Password & security</a>
            <a href="#" class="block-links__item fsz12">Apps access</a>
        </nav>
    </section>
    <div class="left-menu__separator"></div>
    <section class="left-menu__wrapper">
        <div class="left-menu__wrapper__title">
            <span class="menu-icon">
                <img src="images/svg/settigns-gearwheel_icon.svg" alt="">
            </span>
            ACCOUNT MANAGMENT
        </div>
        <nav class="block-links flex-container flex-container_column">
            <a href="#" class="block-links__item fsz12">Subscription</a>
            <a href="#" class="block-links__item fsz12">Billing</a>
            <a href="#" class="block-links__item fsz12">Users & groups</a>
            <a href="#" class="block-links__item fsz12">Request form builder</a>
            <a href="#" class="block-links__item fsz12">Custom workflows</a>
            <a href="#" class="block-links__item fsz12">Activity reports</a>
            <a href="#" class="block-links__item fsz12">Calendars</a>
            <a href="#" class="block-links__item fsz12">Account settings</a>
            <a href="#" class="block-links__item fsz12">Advanced security</a>
        </nav>
    </section>
</aside>