@import "helpers.scss";

.form__label {
  flex-basis:17%;
  margin: 0 40px 20px 0;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &_checkox:hover{
    color: $highlight1;
  }
  &__title {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
  }
  &_wa{
    width: auto;
    min-width: auto;
    margin: 0 40px 0 0;
  }
  &_disabled{
    color: $hinted;
    input, select{
      border: 1px solid $border-color;
      background: none;
      color: $hinted;
      &:hover{
        cursor: default;
      }
    }

    &:hover{
      color: $hinted;
      cursor: default;
    }
    .custom-checkbox{
      background: url('../../images/checkbox/icons/unchecked/disabled.svg');
    }
    &:hover input ~ .custom-checkbox {
      background: url('../../images/checkbox/icons/unchecked/disabled.svg');
    }
    &:hover input:checked ~ .custom-checkbox {
      background: url('../../images/checkbox/icons/checked/disabled.svg');
    }
    input:checked ~ .custom-checkbox {
      background: url('../../images/checkbox/icons/checked/disabled.svg');
    }
  }

  label.error{
    position: absolute;
    font-size: 10px;
    bottom: -20px;
    color: $error-color;
  }

  &_error{
    color: $error-color;
    select, input{
      border-color: $error-color;
    }
    .form__label__title{
      color: $error-color;
    }
    &:hover{
      color: $error-color;
    }
    .custom-checkbox{
      background: url('../../images/checkbox/icons/invalid/unchecked/normal.svg');
    }
    &:hover input ~ .custom-checkbox {
      background: url('../../images/checkbox/icons/invalid/unchecked/normal.svg');
    }
    &:hover input:checked ~ .custom-checkbox {
      background: url('../../images/checkbox/icons/invalid/checked.svg');
    }
    input:checked ~ .custom-checkbox {
      background: url('../../images/checkbox/icons/invalid/checked.svg');
    }
  }
}



input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 3px;
  left: -20px;
  height: 16px;
  width: 16px;
  background: url('../../images/checkbox/icons/unchecked/normal.svg');
}

label:hover input ~ .custom-checkbox {
  background: url('../../images/checkbox/icons/unchecked/hover.svg');
}

label:hover input:checked ~ .custom-checkbox {
  background: url('../../images/checkbox/icons/checked/hover.svg');
}

input:checked ~ .custom-checkbox {
  background: url('../../images/checkbox/icons/checked/normal.svg');
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
