@import "helpers.scss";

.user-info {
  .user-info__title {
    color: $main-font-color;
    margin: 0;
  }
  .user-info__description{
    color: $main-font-color;
    margin: 0;
  }
}

.header{
  background: $panel-color;
  padding: 0 32px;
  min-height: 56px;
  &__profile{
    position:relative;
    .header__profile__avatar{
      margin: 0 10px;
      .avatar__wrapper{
        width: 32px;
        height: 32px;
      }
    }
    &__user-info {
      .user-info__title {
        color: $white-color;
        font-size:14px;
        line-height: 20px;
        font-weight: 400;
      }
      .user-info__description{
        color: $white-o64;
      }
    }
    &:hover{
      cursor:pointer;
      .dropdown-menu{
        display: block;
        z-index: 1;
        height: auto;
      }
    }
  }
}

.dropdown-menu{
  position: absolute;
  right: 0;
  width: 217px;
  padding: 8px 24px;
  box-shadow: 0 0 1px 0 $border-color, 0 2px 8px 0 $border-color;
  border-radius: 2px;
  background: #fff;
  display: none;
  z-index: 1;
  &__header{
    color:$hinted;
    font-size:12px;
    line-height:22px;
    margin: 5px 0;
  }
  &__footer{
    font-size:14px;
    border-top:1px solid $border-color;
    margin-top: 8px;
    padding-top: 8px;
  }
}




