/*Colors*/
$main-font-color: rgba(0,0,0,0.9);
$invert-font-color: rgba(255,255,255,0.9);
$panel-color: #284159;
$highlight1: #4488FF;
$highlight2: #3D7AE6;
$highlight3: #69A0F6;
$error-color: #F15866;
$grey-color: #ababab;
$border-color: rgba(0,0,0,0.16);
$hinted: rgba(0,0,0,0.32);
$white-color:#fff;
$black-light-color: rgba(0,0,0,0.04);

.user-info {
  .user-info__title {
    color: $main-font-color;
    margin: 0;
  }
  .user-info__description{
    color: $main-font-color;
    margin: 0;
  }
}

.header{
  height: 56px;
  background: $panel-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  position: fixed;
  width: calc(100% - 64px);
  z-index: 1;
  &__profile{
    display: flex;
    flex-direction: row;
    position:relative;
    .header__profile__avatar{
      margin: 0 10px;
      .avatar__wrapper{
        width: 32px;
        height: 32px;
      }
    }
    &__user-info {
      .user-info__title {
        color: $white-color;
        font-size:14px;
        line-height: 20px;
        font-weight: 400;
      }
      .user-info__description{
        font-size: 12px;
        color: $invert-font-color;
      }
    }
    &:before{
      content:'';
      position:absolute;
      width: 16px;
      height: 16px;
      background: url('../../images/down-semibold_icon.svg') no-repeat;
      top: 50%;
      margin-top: -8px;
      right:-20px;
    }
    &:hover{
      cursor:pointer;
      .dropdown-menu{
        display: block;
        z-index: 1;
        height: auto;
      }
    }
  }
}

.dropdown-menu{
  position: absolute;
  right: 0;
  width: 217px;
  padding: 8px 24px;
  box-shadow: 0 0 1px 0 $border-color, 0 2px 8px 0 $border-color;
  border-radius: 2px;
  background: #fff;
  display: none;
  z-index: 1;
  &__header{
    color:$hinted;
    font-size:12px;
    line-height:22px;
    margin: 5px 0;
  }
  &__footer{
    font-size:14px;
    border-top:1px solid $border-color;
    margin-top: 8px;
    padding-top: 8px;
  }
}




