.left-menu{
  background: #284159;
  min-width: 256px;
  &__separator{
    height: 16px;
    margin: 0 15%;
    border-top: 1px solid rgba(255,255,255,0.12);
  }
  &__wrapper{
    margin-bottom: 16px;
    padding: 0 15% 0 0;
    &:last-child{
      border-bottom: none;
    }
    &__title{
      color:rgba(255,255,255,0.9);
      font-size: 12px;
      text-transform: uppercase;
      position:relative;
      padding-left: 18%;
      margin: 8px 0;
    }
    .block-links{
      &__item{
        padding-left: 18%;
        &:hover{
          background: #4488ff;
        }
      }
    }
  }
}