@import "helpers.scss";

.left-menu{
  background: $panel-color;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &__separator{
    height: 16px;
    margin: 0 40px;
    border-top: 1px solid $grey-color;
  }
  &__wrapper{
    margin-bottom: 16px;
    padding: 0 40px 0 0;
    &:last-child{
      border-bottom: none;
    }
    &__title{
      color:$invert-font-color;
      font-size: 12px;
      text-transform: uppercase;
      position:relative;
      padding-left: 40px;
      margin: 8px 0;
    }
    .block-links{
      &__item{
        padding-left: 40px;
        &:hover{
          background: $highlight1;
          color:$invert-font-color;
        }
      }
    }
  }
}
