@import "helpers.scss";

.header__wrike-logo{
  width: 65px;
  height: 22px;
}

.header__profile__icon{
  position: relative;
  svg{
    position: absolute;
    top: 50%;
    margin-top: -8px;
    g{
      fill:$invert-font-color;
    }
  }
}