/*
* Third Party
*/
@import url(../../bower_components/normalize.css/normalize.css);
/*
* Custom
*/
@import url(standart.css);
@import url(partials/forms.css);
@import url(partials/header.css);
@import url(partials/left-menu.css);
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font: 14px/22px 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  min-width: 1200px;
  background: #ffffff; }

.root-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #284159;
  position: relative; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

p {
  font-size: 14px;
  line-height: 20px; }

img {
  vertical-align: middle;
  max-width: 100%; }

.menu-items {
  display: flex;
  flex-direction: column; }
  .menu-items__item {
    display: block;
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin: 10px 0; }
    .menu-items__item:hover {
      text-decoration: underline; }

.flex-container {
  display: flex; }
  .flex-container_row {
    flex-direction: row; }
  .flex-container_column {
    flex-direction: column; }
  .flex-container_vc {
    align-items: center; }
  .flex-container_wrap {
    flex-wrap: wrap; }

.main-flex {
  height: calc(100vh - 53px); }

.block-links__item {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  border-radius: 0 2px 2px 0;
  line-height: 20px;
  padding: 6px 0;
  text-decoration: none;
  position: relative; }

.menu-icon {
  position: absolute;
  left: 18px;
  top: -2px; }

.main-content {
  padding: 2% 3%;
  width: 100%;
  background: #fff;
  margin-right: 10px;
  border-radius: 2px;
  min-width: 1020px; }

.margin20 {
  margin: 20px 0; }

.avatar {
  display: flex;
  align-items: center;
  margin-right: 20px; }
  .avatar__wrapper {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%; }

.fw-bold {
  font-weight: 600; }

.btn {
  padding: 8px 16px;
  background: #4488FF;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 2px;
  margin: 0 10px 10px 0; }
  .btn:hover, .btn:focus {
    color: rgba(255, 255, 255, 0.9);
    background: #69A0F6;
    cursor: pointer; }
  .btn:active {
    background: #3D7AE6; }
  .btn:disabled {
    border: 1px solid rgba(0, 0, 0, 0.16);
    background: none;
    color: rgba(0, 0, 0, 0.32); }
    .btn:disabled:hover {
      cursor: default; }
  .btn_pseudo {
    color: rgba(0, 0, 0, 0.9);
    background: none; }
    .btn_pseudo:hover, .btn_pseudo:focus, .btn_pseudo:active {
      color: #4488ff;
      background: none; }
    .btn_pseudo:disabled {
      background: none;
      color: rgba(0, 0, 0, 0.32); }
      .btn_pseudo:disabled:hover {
        cursor: default; }

.form__buttons__description {
  padding-left: 20px;
  margin: 20px 0; }
  .form__buttons__description .form__label {
    margin-bottom: 0; }
    .form__buttons__description .form__label__title {
      font-size: 14px;
      line-height: 22px; }
  .form__buttons__description input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }

/*# sourceMappingURL=style.css.map */
